<% provide(:metric, @metric == :completeness ? "Completeness" : "Weighted Completeness") %>
<% content_for :content do %>
  <% if @best != nil and @worst != nil %>
    <table class="table table-bordered completeness-table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Subfield</th>
          <th>Best Record (<%= "%.3f" % (@best[@metric]) %>)</th>
          <th>Worst Record (<%= "%.3f" % (@worst[@metric]) %>)</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |field| %>
          <% if field.is_a? Array %>
            <% subfields = field[1..-1] %>
            <% field = field.first %>
            <% maximum = [@best[field].length, @worst[field].length].max %>
            <% maximum.times do |i| %>
              <% subfields.each_with_index do |subfield, j| %>
                <% value_best = @best[field].andand[i].andand[subfield] %>
                <% value_worst = @worst[field].andand[i].andand[subfield] %>
                <tr>
                  <% if j == 0 %>
                    <td rowspan="<%= subfields.length %>"><%= field.humanize() %></td>
                  <% end %>
                  <td><%= subfield.humanize() %></td>
                  <td class='<%= set_class(value_best) %>'><%= value_best %></td>
                  <td class='<%= set_class(value_worst) %>'><%= value_worst %></td>
                </tr>
              <% end %>
            <% end %>
          <% else %>
            <tr>
              <td><%= field.humanize() %></td>
              <td></td>
              <td class='<%= set_class(@best[field]) %>'><%= @best[field]  %></td>
              <td class='<%= set_class(@worst[field]) %>'><%= @worst[field]  %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end%>
<% end %>
<%= render 'layouts/metric_details' %>
