<h1>Repositories</h1>
<h2><%= params[:action].titlecase %></h2>
<div class="dashboard row">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="active"><a data-target="#index" data-toggle="pill">Index</a></li>
      <li><a data-target="#leaderboard" data-toggle="pill">Leaderboard</a></li>
      <li><a data-target="#map" data-toggle="pill">Map</a></li>
      <li><a data-target="#timeline" data-toggle="pill">Timeline</a></li>
      <li><a data-target="#numbers" data-toggle="pill">Numbers</a></li>
    </ul>
  </div>
</div>
<div class="pill-content">
  <div id="index" class="pill-pane active">
    <div class="dashboard row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Snapshots</th>
              <th>Datasets</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <% @repositories.each do |repository, meta| %>
              <tr>
                <td><%= link_to repository.name, repository %></td>
                <td><%= repository.type %></td>
                <td><%= meta['snapshots'] %></td>
                <td><%= number_with_delimiter meta['metadata'] %></td>
                <td><a href="<%= repository.url %>"><%= repository.url.sub(/^https?\:\/\//, '').sub(/^www./,'') %></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="leaderboard" class="pill-pane">
    <div class="leaderboard dashboard row">
      <div class="col-md-12">
        <table class="repositories leaderboard table table-striped">
          <thead>
            <th>Rank</th>
            <th>Repository</th>
            <th><span class="glyphicon glyphicon-sort-by-attributes-alt"></span> Score</th>
            <% @metrics.each do |metric| %>
              <th><%= metric.to_s.titlecase %></th>
            <% end %>
          </thead>
          <tbody>
            <% @repositories.each_with_index do |(repository, meta), i| %>
              <tr>
                <td><%= meta['rank'] ? meta['rank'] : '-' %></td>
                <td><%= link_to repository.name, repository %></td>
                <%= score_cell(repository.score) %>
                <% Metrics::Metric.all.each do |metric| %>
                  <% result = repository.snapshots.last.maybe(metric) %>
                  <% score = if result.nil? then nil else result['average'] end %>
                  <%= score_cell(score) %>
                  <% end %>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="map" class="pill-pane repositories map">
      <div class="dashboard row">
        <div id="map-canvas" class="col-md-12 pill-content"></div>
      </div>
    </div>
    <div id="timeline" class="pill-pane">
      <div class="dashboard row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
    <div id="numbers" class="pill-pane">
      <div class="row">
        <div class="dashboard col-md-12 pill-content">
          <h3><span class="glyphicon glyphicon-folder-open"></span> Resources</h3>
          <h4>Number of resources associated per metadata record</h4>
          <table class="analysis-table table table-striped table-bordered">
            <thead>
              <tr>
                <th>Repository</th>
                <th>Minimum</th>
                <th>Average</th>
                <th>Median</th>
                <th>Maximum</th>
                <th>Sum</th>
              </tr>
            </thead>
            <tbody>
              <% @numbers.sort_by { |r, s| - s['resources']['sum'] }.each do |entity| %>
                <tr>
                  <% repository = entity[0]  %>
                  <% statistics = entity[1]  %>
                  <td><%= repository.name %></td>
                  <td><%= statistics['resources']['min'] %></td>
                  <td><%= statistics['resources']['avg'].round %></td>
                  <td><%= statistics['resources']['med'] %></td>
                  <td><%= statistics['resources']['max'] %></td>
                  <td><%= number_with_delimiter statistics['resources']['sum'] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="dashboard col-md-12">
          <h3><span class="glyphicon glyphicon-globe"></span> Languages</h3>
          <h4>Distribution of language use in the metadata records</h4>
          <div id="language-table">
            <table class="repositories languages table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Repository</th>
                  <% (@languages - ['Unknown', 'Unreliable']).each do |language| %>
                    <th><%= iso639(language)  %></th>
                  <% end %>
                  <th><%= iso639('Unknown')  %></th>
                  <th><%= iso639('Unreliable')  %></th>
                </tr>
              </thead>
              <tbody>
                <% @repositories.each do |repository, meta| %>
                  <tr>
                    <td><%= repository.name %></td>
                    <% (@languages - ['Unknown', 'Unreliable']).each do |language| %>
                      <td><%= language_frequency(meta['statistics']['languages'][language]) %></td>
                    <% end %>
                    <td><%= language_frequency(meta['statistics'].maybe['languages'].maybe['Unknown']) %></td>
                    <td><%= language_frequency(meta['statistics'].maybe['languages'].maybe['Unreliable']) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
