<h1>Repositories</h1>
<h2><%= params[:action].titlecase %></h2>
<ul class="dashboard content repository nav nav-pills">
  <li class="active"><a href="#index" data-toggle="pill">Index</a></li>
  <li><a data-target="#leaderboard" data-toggle="pill">Leaderboard</a></li>
  <li><a data-target="#map" data-toggle="pill">Map</a></li>
  <li><a data-target="#timeline" data-toggle="pill">Timeline</a></li>
  <li><a data-target="#numbers" data-toggle="pill">Numbers</a></li>
</ul>
<div class="dashboard">
  <div class="row">
    <div class="col-md-12 pill-content">
      <div id="index" class="pill-pane active">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Snapshots</th>
              <th>Datasets</th>
              <th>URL</th>
            </tr>
          </thead>
          <tbody>
            <% @repositories.each do |repository| %>
              <tr>
                <td><%= link_to repository.name, repository %></td>
                <td><%= repository.type %></td>
                <td><%= repository.snapshots.length %></td>
                <td><%= count(repository) %></td>
                <td><a href="<%= repository.url %>"><%= repository.url.sub(/^https?\:\/\//, '').sub(/^www./,'') %></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id="leaderboard" class="pill-pane">
        <table class="repositories leaderboard table table-striped">
          <thead>
            <th>Rank</th>
            <th>Repository</th>
            <th>Score</th>
            <% Metrics.all.each do |metric| %>
              <th><%= metric.to_s.titlecase %></th>
            <% end %>
          </thead>
          <tbody>
            <% @repositories.sort.reverse.each_with_index do |repository, i| %>
              <tr>
                <td><%= @ranking[i] %></td>
                <td><%= link_to repository.name, repository %></td>
                <%= score_cell(repository.score) %>
                <% Metrics.all.each do |metric| %>
                  <% result = repository.snapshots.last.maybe(metric) %>
                  <% score = if result.nil? then nil else result[:average] end %>
                  <td><%= if score.nil? then '?' else '%.2f' % score end %></td>
                  <% end %>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="map" class="pill-pane repositories map"></div>
        <div id="timeline" class="pill-pane"></div>
        <div id="numbers" class="pill-pane"> <!-- TODO: Move dashboard elements into the pane content -->
          <h3><span class="glyphicon glyphicon-folder-open"></span> Number of Resources</h3>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Repository</th>
                <th>Minimum</th>
                <th>Average</th>
                <th>Median</th>
                <th>Maximum</th>
                <th>Sum</th>
              </tr>
            </thead>
            <tbody>
              <% @numbers.sort_by { |r, s| - s['resources']['sum'] }.each do |entity| %>
                <tr>
                  <% repository = entity[0]  %>
                  <% statistics = entity[1]  %>
                  <td><%= repository.name %></td>
                  <td><%= statistics['resources']['min'] %></td>
                  <td><%= statistics['resources']['avg'].round %></td>
                  <td><%= statistics['resources']['med'] %></td>
                  <td><%= statistics['resources']['max'] %></td>
                  <td><%= number_with_delimiter statistics['resources']['sum'] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <h3><span class="glyphicon glyphicon-globe"></span> Languages</h3>
          <div id="language-table">
            <table class="repositories languages table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Repository</th>
                  <% @languages.each do |language| %>
                    <th><%= iso639(language)  %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @numbers.each do |repository, statistics| %>
                  <tr>
                    <td><%= repository.name %></td>
                    <% @languages.each do |language| %>
                      <td><%= language_frequency(statistics['languages'][language]) %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
