<% content_for :content do %>
  <table class="repositories leaderboard table table-striped">
    <thead>
      <th>Rank</th>
      <th>Repository</th>
      <th>Score</th>
      <% Metrics.list.each do |metric| %>
        <th><%= metric.to_s.titlecase %></th>
      <% end %>
    </thead>
    <tbody>
      <% @repositories.sort.reverse.each_with_index do |repository, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= repository.name %></td>
          <td><%= '%.2f' % repository.score %></td>
          <% Metrics.list.each do |metric| %>
            <% result = repository.snapshots.last.maybe(metric) %>
            <% score = if result.nil? then nil else result[:average] end %>
            <td><%= if score.nil? then '?' else '%.2f' % score end %></td>
          <% end %>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render 'layouts/repositories' %>
