<%= content_for :content do %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Datasets</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <% @repositories.each do |repository| %>
        <tr>
          <td><%= repository.name %></td>
          <td><%= repository.type %></td>
          <td><%= number_with_delimiter(repository.total) %></td>
          <td><a href="<%= repository.url %>"><%= repository.url.sub(/^https?\:\/\//, '').sub(/^www./,'') %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render 'layouts/repositories' %>
