<h1>Repository</h1>
<h2><%= @repository.name %></h2>
<%= render layout: 'shared/breadcrumb' do %>
  <% options = { entities: [@repositories.keys], display: @repository } %>
  <%= content_tag(:li, render(partial: 'shared/dropdown_menu', locals: options), class: 'active') %>
<% end %>
<div class="dashboard row">
  <div class="col-md-12">
    <h3><span class="fa fa-bar-chart-o"></span> Quality over Time</h3>
    <h4>How has the quality changed over time?</h4>
    <div id="quality-time-graph"></div>
  </div>
</div>
<div class="dashboard row">
  <div class="col-md-12">
    <h3><span class="fa fa-archive"></span> Snapshots</h3>
    <h4>List of all snapshots associated to this repository</h4>
    <table class="repository snapshot-table table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Metric Scores</th>
          <th>Total Score</th>
          <th>Metadata Records</th>
        </tr>
      </thead>
      <tbody>
        <% @repository.snapshots.each do |snapshot| %>
          <tr>
            <td><%= link_to snapshot.date, repository_snapshot_path(@repository, snapshot.date) %></td>
            <td><%= sparkline_span(snapshot) %></td>
            <td><%= score_td(snapshot.score) %></td>
            <td><%= number_with_delimiter snapshot.metadata_records.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
