<% provide(:parameter, :show) %>
<% content_for :heading do %>
  <h1>Repository Report</h1>
  <h2><%= @repository.name == '*' ? 'All' : @repository.name %></h2>
<% end %>
<% content_for :content do %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="repository score meter"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="repository metric table table-striped">
        <thead>
          <tr>
            <th>Metric</th>
            <th>Quality</th>
            <th>Analysis</th>
          </tr>
        </thead>
        <tbody>
          <% Metrics.list.each do |metric| %>
            <tr>
              <td><%= metric.to_s.titlecase %></td>
              <td><%= metric_score(metric) %></td>
              <td><%= create_metric_analysis_button(metric) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<%= render 'layouts/repository_based' %>
