<h1>Administration</h1>
<h2>Import</h2>
<div class="content row">
  <div class="dashboard-6 col-md-6">
    <h3><span class="glyphicon glyphicon-hdd"></span> Repositories</h3>
    <p class="dashboard-description">Select a file to import repositories.</p>
    <ul class="list-group">
      <% @repository_files.each do |file, yaml| %>
        <li class="list-group-item">
          <span class="badge"><%= repository_count(yaml) %></span>
          <%= yaml[:name] %> <%= import_link(file)  %>
          <span class="label label-info pull-right">Importing...</span>
          <span class="label label-success pull-right">Done</span>
          <span class="label label-danger pull-right">Error</span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="dashboard-6 col-md-6">
    <h3><span class="glyphicon glyphicon-align-justify"></span> Metadata</h3>
    <p class="dashboard-description">Select a file to import metadata for a repository. </p>
    <ul class="list-group">
      <% @metadata_archives.each do |file, info| %>
        <li class="list-group-item">
          <span class="badge"><%= number_with_delimiter(info[:count]) %></span>
          <%= "(#{info[:date]}) #{info[:repository]}" %> <%= import_metadata_link(info[:repository], file) %>
          <span class="label label-info pull-right">Importing...</span>
          <span class="label label-success pull-right">Done</span>
          <span class="label label-danger pull-right">Error</span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
