<h1>Administration</h1>
<h2>Scheduler</h2>
<%= render layout: 'shared/repository_breadcrumb' do %>
  <%= admin_repository_scheduler_menu %>
<% end %>
<div class="row">
  <div class="dashboard col-md-12">
    <div class="admin repositories scheduler progress">
      <div id="total-progress-bar" class="progress-bar"></div>
    </div>
  </div>
  <div class="dashboard col-md-12">
    <table class="admin repositories scheduler table">
      <thead>
        <tr>
          <th>Metric</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Last Updated</th>
          <th>Schedule Job</th>
        </tr>
      </thead>
      <tbody>
        <% @metrics.each do |metric| %>
          <tr class="status <%= metric %>">
            <td rowspan="2"><%= link_to metric.to_s.titlecase, repository_metric_path(repository_id: @repository, id: metric)  %></td>
            <td><div class="admin repositories scheduler progress"><%= create_bar(metric, :analyze) %></div></td>
            <td class="admin control status" rowspan="2">
              <%= content_tag(:span, 'Queued', class: "label label-warning", id: metric) %>
              <%= content_tag(:span, 'Computing...', class: "label label-info", id: metric) %>
              <%= content_tag(:span, 'Done', class: "label label-success", id: metric) %>
              <%= content_tag(:span, 'Error', class: "label label-danger", id: metric) %>
              <%= status(metric) %>
            </td>
            <%= last_updated_date(metric) %>
            <td rowspan="2"><%= schedule_job_button(metric) %></td>
          </tr>
          <tr>
            <td><div class="admin repositories scheduler progress"><%= create_bar(metric, :compute) %></div></td>
            <%= last_updated_time(metric)  %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
