<h1>Control Panel</h1>
<div class="dashboard">
  <div class="admin btn-toolbar">
    <div class="btn-group">
      <a class="admin dropdown-toggle" data-toggle="dropdown" href="#">
        <h3><%= @repository.name %> <strong class="repository caret"></strong></h3>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="?repository=*">All</a></li>
        <li class="divider"></li>
        <% @repositories.each do |repository| %>
          <li><a href="?repository=<%= repository.name %>"><%= repository.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <button class="btn compute-metric all"><strong class="icon-th"></strong> Compute All</button>
  <table class="table">
    <thead>
      <tr>
        <th>Metric</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @metrics.each do |metric| %>
        <tr>
          <td rowspan="2"><%= metric.to_s.titlecase %></td>
          <td><div class="admin control progress"><%= create_bar(metric, :analyze) %></div></td>
          <td><%= status(metric) %></td>
          <td rowspan="2"><button class="btn compute-metric <%= metric  %>"><strong class="icon-tasks"></strong></button></td>
        </tr>
        <tr>
          <td><div class="admin control progress"><%= create_bar(metric, :compute) %></div></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
