<h1>Metrics</h1>
<div class="row">
  <div class="span6">
    <form class="form-inline" action="" method="get">
      <fieldset>
        <label for="repository">Repository</label>
        <select id="repository-selector" name="repository">
          <% for repository in @repositories %>
            <option <%= selected?(repository.name, params[:repository])
            %>><%= repository.name %></option>
          <% end %>
        </select>
      </fieldset>
    </form>
  </div>
</div>
<div class="row center">
  <div class="span12 dashboard">
    <div class="row">
      <div id="completeness" class="span4 metric metric-meter">
        <strong><a href="/metrics/completeness?repository=<%= @selected.name %>">Completeness</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
      </div>
      <div id="weighted-completeness" class="span4 metric metric-meter">
        <strong><a href="/metrics/weighted-completeness?repository=<%= @selected.name %>">Weighted Completeness</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
      </div>
      <div id="richness-of-information" class="span4 metric metric">
        <strong><a href="/metrics/richness-of-information?repository=<%= @selected.name %>">Richness of Information</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
        <div class="score">?</div>
      </div>
    </div>

    <div class="row">
      <div id="accuracy" class="span4 metric metric-meter">
        <strong><a href="/metrics/accuracy?repository=<%= @selected.name %>">Accuracy</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
      </div>
      <div id="accessibility" class="span4 metric">
        <strong><a href="/metrics/accessibility?repository=<%= @selected.name %>">Accessiblity</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
        <div class="score">?</div>
      </div>
      <div id="link-checker" class="span4 metric metric-meter">
        <strong><a href="/metrics/link-checker?repository=<%= @selected.name %>">Link Checker</a></strong>
        <div class="progress">
          <div class="bar"></div>
        </div>
      </div>
  </div>
</div>
