<h1>Metric Report</h1>
<h2><%= @metric.to_s.titlecase %></h2>
<%= render layout: 'shared/breadcrumb' do %>
  <% options = { entities: [@repositories.keys, @snapshot, @metric], display: @repository } %>
  <%= content_tag(:li, render(partial: 'shared/dropdown_menu', locals: options)) %>

  <% options = { entities: [@repository, @repository.snapshots, @metric], display: @snapshot } %>
  <%= content_tag(:li, render(partial: 'shared/dropdown_menu', locals: options)) %>

  <% options = { entities: [@repository, @snapshot, @metrics], display: @metric } %>
  <%= content_tag(:li, render(partial: 'shared/dropdown_menu', locals: options), class: 'active') %>
<% end %>
<div class="row">
  <div class="score-dashboard dashboard-3 dashboard-left col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h3>Metric Score</h3>
        <h4>Aggregated Score for Metric</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="metric score-meter"></div>
      </div>
    </div>
  </div>
  <div class="distribution-dashboard dashboard-9 dashboard-right col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h3>Quality Distribution</h3>
        <h4>Number of Metadata Records per Score Range</h4>
        <div class="spinner"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="quality-distribution"></div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard row">
  <div class="col-md-12">
    <ul id="report-tab" class="metrics nav nav-pills">
      <li class="active"><a data-target="#analysis" data-toggle="pill">Analysis</a></li>
      <li><a data-target="#statistics" data-toggle="pill">Statistics</a></li>
    </ul>
  </div>
</div>
<div>
<div class="row">
  <div class="col-md-12">
    <div class="pill-content">
      <%= render partial: select_partial() %>
    </div>
  </div>
</div>
