<h1>Metric Report</h1>
<h2><%= @metric.to_s.titlecase %></h2>
<%= render layout: 'shared/repository_breadcrumb' do %>
  <%= repository_metric_repository_menu %>
  <%= repository_metric_snapshot_menu %>
  <%= repository_metric_metric_menu %>
<% end %>
<div class="row">
  <div class="dashboard-3 dashboard-left col-md-6">
    <div class="metric score-meter"></div>
  </div>
  <div class="dashboard-9 dashboard-right col-md-6">
    <div id="quality-distribution"></div>
  </div>
</div>
<div class="dashboard row">
  <div class="col-md-12">
    <ul id="report-tab" class="metrics nav nav-pills">
      <li class="active"><a href="#analysis" data-toggle="pill">Analysis</a></li>
      <li><a href="#statistics" data-toggle="pill">Statistics</a></li>
    </ul>
  </div>
</div>
<div>
<div class="row">
  <div class="col-md-12">
    <div class="pill-content">
      <%= render partial: select_partial() %>
    </div>
  </div>
</div>
