<% provide(:parameter, 'repository') %>
<% provide(:heading, 'Metric Report') %>
<% content_for :content_top do %>
<div class="repository-menu">
  <a class="repository-based repository-selector" data-toggle="dropdown" href="#">
    <%= @metric.to_s.titlecase %> 
    <strong class="repository-based caret"></strong>
  </a>
  <ul class="dropdown-menu" role="menu">
    <% Metrics::IDENTIFIERS.each do |metric| %>
      <li><%= create_metric_report_link(metric) %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% content_for :content do %>
  <div class="report row">
    <div class="span12">
      <div class="report row">
        <% 2.times do |i| %>
          <div class="span6 center">
            <div class="report btn-toolbar">
              <div class="report btn-group">
                <a class="dropdown-toggle" href="#">
                  <strong>Record <%= i + 1 %></strong> <strong class="caret"></strong>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="report search" data-record="<%= i + 1 %>" href="#">By Search</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-submenu">
                    <a href="#">By Score (Descending)</a>
                    <%= create_record_submenu(i, :descending) %>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#">By Score (Ascending)</a>
                    <%= create_record_submenu(i, :ascending) %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="span6">
                <em><%= record(i)[:record][:id] %></em>
                <div class="row">
                  <div class="span6">
                    <%= record(i)[:record][:name] %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="search report row center">
        <div class="span10 table-centered">
          <input id="search-input" class="report input-xlarge" type="text" placeholder="Search..."></input>
          <table id="search-results" class="table" data-provides="rowlink">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <% Metrics::IDENTIFIERS.each do |metric| %>
                <th><%= metric_abbreviation(metric) %></th>
              <% end %>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#analysis">Analysis</a></li>
        <li><a href="#statistics">Statistics</a></li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <%= render partial: "report/metric/#{@metric.to_s}" %>
  </div>
<% end %>
<%= render 'layouts/repository_based' %>
