<% provide(:parameter, 'repository') %>
<% provide(:heading, 'Metric Report') %>
<% content_for :content_top do %>
  <div class="repository-based btn-toolbar">
    <div class="btn-group">
      <a class="repository-based repository-selector dropdown-toggle" href="#"><%= @metric.to_s.titlecase %> 
      <strong class="repository-based caret"></strong></a>
      <ul class="dropdown-menu" role="menu">
        <% Metrics::IDENTIFIERS.each do |metric| %>
          <li><%= create_metric_report_link(metric) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<% content_for :content do %>
  <div class="row">
    <div class="span12">
      <div class="row">
        <% 2.times do |i| %>
          <div class="span6 center">
            <div class="report btn-toolbar">
              <div class="report btn-group">
                <a class="dropdown-toggle" href="#">
                  <strong>Record <%= i + 1 %></strong> <strong class="caret"></strong>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#">By Search</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-submenu">
                    <a href="#">By Score (Descending)</a>
                    <%= create_record_submenu(i, :descending) %>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#">By Score (Ascending)</a>
                    <%= create_record_submenu(i, :ascending) %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="span6">
                <em><%= record(i)[:record][:id] %></em>
                <div class="row">
                  <div class="span6">
                    <%= record(i)[:record][:name] %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= render 'layouts/repository_based' %>
