<h1>Repository Report</h1>
<h2><%= @repository.name %></h2>
<%= render layout: 'shared/repository_breadcrumb' do %>
  <%= repository_menu %>
  <%= snapshot_menu %>
<% end %>
<div class="row">
  <div class="dashboard-3 dashboard-left col-md-6">
    <div class="repository score-meter"></div>
  </div>
  <div class="dashboard-9 dashboard-right col-md-6">
    lolwut?
  </div>
</div>
<div class="dashboard row">
  <div class="col-md-10 col-md-offset-1">
    <table class="repository metric table table-striped">
      <thead>
        <tr>
          <th>Metric</th>
          <th>Weighting</th>
          <th>Score</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <% Metrics.all.each do |metric| %>
          <tr>
            <td><%= metric.to_s.titlecase %></td>
            <td>
              <div class="row weight-label">
                <div class="span12"><span class="weight"><%= weight(metric) %>&times;</span></div>
              </div>
              <div class="row weight-component">
                <div class="col-md-12"><%= weighting_slider(metric) %></div>
              </div>
            </td>
            <td><%= metric_score(metric) %></td>
            <td><%= create_metric_analysis_button(metric) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
