<div id="analysis" class="pill-pane active">
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3><span class="fa fa-file-text-o"></span> Resource MIME Type Accuracy</h3>
      <h4>The expected resource MIME type is given through the record, the actual is retrieved from the host</h4>
      <div id="mime-accuracy-pagination" class="text-center"></div>
      <% @analysis.each_slice(10) do |analysis| %>
        <div class="mime-accuracy">
          <table class="analysis-table accuracy-table table table-bordered">
            <thead>
              <th>ID</th>
              <th>URL</th>
              <th>Expected MIME</th>
              <th>Actual MIME</th>
            </thead>
            <tbody>
              <% analysis.each do |id, analysis_chunk| %>
                <% analysis_chunk.each_with_index do |resource_analysis, i| %>
                  <tr>
                    <%= content_tag(:td, id, rowspan: analysis_chunk.length) if i == 0 %>
                    <td><%= content_tag(:a, resource_analysis['url'], href: resource_analysis['url']) %></td>
                    <td><%= resource_analysis['expected_mime_type'] %></td>
                    <%= actual_mime_type(resource_analysis) %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3><span class="fa fa-bullseye"></span> Resource Size Accuracy</h3>
      <h4>The expected resource size is given through the record, the actual is retrieved from the host</h4>
      <div id="size-accuracy-pagination" class="text-center"></div>
      <% filter_size_analysis(@analysis).each_slice(10) do |analysis| %>
        <div class="size-accuracy">
          <table class="accuracy-size-table analysis-table table table-bordered">
            <thead>
              <th class="record-id-td">Record ID</th>
              <th class="url-td">Resource URL</th>
              <th class="percent-number">Expected Size</th>
              <th class="percent-number">Actual Size</th>
            </thead>
            <tbody>
              <% analysis.each do |id, analysis_chunk| %>
                <% analysis_chunk.each_with_index do |format_analysis, i|  %>
                  <tr>
                    <%= content_tag(:td, id, class: "record-id-td", rowspan: analysis_chunk.length) if i == 0 %>
                    <td class="url-td"><%= content_tag(:a, format_analysis['url'], href: format_analysis['url']) %></td>
                    <td class="percent-number"><%= number_with_delimiter(format_analysis['expected_size']) %></td>
                    <%= actual_resource_size(format_analysis)  %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="statistics" class="pill-pane">
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3><span class="glyphicon glyphicon-stats"></span> Responses</h3>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <table class="table">
            <thead>
              <tr>
                <th>Format</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <% @snapshot[@metric.id]['analysis'].to_a.each do |format, count| %>
                <tr>
                  <td><%= format %></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
