<div id="analysis" class="pill-pane active">
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3><span class="fa fa-file-text-o"></span> MIME Type Accuracy</h3>
      <h4>The expected MIME type is the one in the record, the actual MIME type is the one returned by the server</h4>
      <% @analysis.each_slice(10).with_index do |analysis, i| %>
        <div class="mime-accuracy" id="<%= "mime-accuracy-#{i + 1}" %>">
          <table class="analysis-table accuracy-table table table-bordered">
            <thead>
              <th>ID</th>
              <th>URL</th>
              <th>Expected MIME</th>
              <th>Actual MIME</th>
            </thead>
            <tbody>
              <% analysis.each do |id, analysis_chunk| %>
                <% analysis_chunk.each_with_index do |resource_analysis, i| %>
                  <tr>
                    <%= content_tag(:td, id, rowspan: analysis_chunk.length) if i == 0 %>
                    <td><%= content_tag(:a, resource_analysis['url'], href: resource_analysis['url']) %></td>
                    <td><%= resource_analysis['expected_mime_type'] %></td>
                    <%= actual_mime_type(resource_analysis) %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <div class="text-center">
        <ul class="pagination">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <% (@analysis.length / 10).times do |i| %>
            <%= content_tag(:li, content_tag(:a, i + 1, data: {target: "mime-accuracy-#{i + 1}"}), class: i == 0 ? 'active': nil) %>
          <% end %>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3>Size Accuracy</h3>
      <table class="accuracy-size-table table table-bordered">
        <thead>
          <th>Record ID</th>
          <th>Resource URL</th>
          <th>Expected Size</th>
          <th>Actual Size</th>
        </thead>
        <tbody>
          <% filter_size_analysis(@analysis).each do |id, analysis| %>
            <% analysis.each_with_index.each do |format_analysis, i| %>
              <tr>
                <td><%= id %></td>
                <td><%= content_tag(:a, format_analysis['url'], href: format_analysis['url']) %></td>
                <td><%= number_with_delimiter(format_analysis['expected_size']) %></td>
                <%= actual_resource_size(format_analysis)  %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="statistics" class="pill-pane">
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3><span class="glyphicon glyphicon-stats"></span> Responses</h3>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <table class="table">
            <thead>
              <tr>
                <th>Format</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <% @snapshot[@metric.id]['analysis'].to_a.each do |format, count| %>
                <tr>
                  <td><%= format %></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
