<div id="analysis" class="pill-pane active">
  <div class="row">
    <div class="col-md-12 dashboard">
      <table class="link-checker-table table">
        <thead>
          <th>ID</th>
          <th>URL</th>
          <th>Response</th>
        </thead>
        <tbody>
          <% @analysis.each do |id, responses| %>
            <% responses.each_with_index do |(url, status), i| %>
              <tr>
                <%= content_tag(:td, id, rowspan: responses.length) if i == 0 %>
                <td><%= content_tag(:a, url, href: url) rescue nil %></td>
                <%= response_td(status) %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="statistics" class="pill-pane">
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3><span class="glyphicon glyphicon-stats"></span> Responses</h3>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <table class="table">
            <thead>
              <tr>
                <th>Status</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <% @snapshot[@metric]['analysis'].to_a.each do |status, count| %>
                <tr>
                  <td><%= status %></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
