<div id="analysis" class="pill-pane active">
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3><span class="fa fa-link"></span> Resource Availability</h3>
      <h4>Whether the resource was availabile under the given URL</h4>
      <div id="availability-pagination" class="text-center"></div>
      <% @analysis.each_slice(10) do |responses| %>
        <div class="responses">
          <table class="link-checker-table analysis-table table table-bordered">
            <thead>
              <th>Record ID</th>
              <th>URL</th>
              <th>Response</th>
            </thead>
            <tbody>
              <% responses.each do |id, responses_chunk| %>
                <% responses_chunk.each_with_index do |(url, status), i| %>
                  <tr>
                    <%= content_tag(:td, id, rowspan: responses_chunk.length) if i == 0 %>
                    <td><%= content_tag(:a, url, href: url) rescue nil %></td>
                    <%= response_td(status) %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="statistics" class="pill-pane">
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3><span class="glyphicon glyphicon-stats"></span> Different HTTP Responses</h3>
      <h4>An overview of the different HTTP responses while checking the URLs</h4>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>Status</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <% @snapshot[@metric.id]['analysis'].sort_by { |k, v| - v }.each do |status, count| %>
                <tr>
                  <td><%= status %></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
