<div id="analysis" class="pill-pane active">
   <div class="row">
    <% 2.times do |i| %>
      <% side = ["dashboard-left", "dashboard-right"][i] %>
      <%= content_tag(:div, class: "dashboard-6 #{side} col-md-6") do %>
        <h3>Record Selection</h3>
        <h4>Select a metadata record to compare with</h4>
        <%= render partial: 'shared/metadata_record_selector', locals: { i: i } %>
      <% end %>
    <% end %>
  </div>
  <div class="dashboard row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-eye-open"></span> Record Comparison</h3>
      <h4>Compare both metadata records by their completed fields</h4>
      <table class="repositories metric completeness table table-bordered completeness-table">
        <thead>
          <tr>
            <th>Field</th>
            <th>Subfield</th>
            <% 2.times do |i| %>
              <th><%= "Record #{i + 1}" %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @analysis[:properties].each do |field| %>
            <% if field.is_a?(Array) %>
              <% subfields = field[1..-1] %>
              <% field = field.first %>
              <% maximum = @documents.map { |d| d.record[field].length }.max %>
              <% maximum.times do |i| %>
                <% subfields.each_with_index do |subfield, j| %>
                  <% values = (0..1).to_a.map { |j| @documents[j].record[field].maybe[i].maybe[subfield] } %>
                  <tr>
                    <%= content_tag(:th, titleize_ckan_field(field), rowspan: subfields.length) if j == 0 %>
                    <th><%= titleize_ckan_field(subfield) %></th>
                    <% 2.times do |j| %>
                      <%= value(values[j]) %>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <tr>
                <th><%= titleize_ckan_field(field) %></th>
                <td></td>
                <% 2.times do |i| %>
                  <%= value(@documents[i].record[field]) %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="statistics" class="pill-pane">
  <div class="row">
    <div class="dashboard col-md-12">
      <h3 class="statistic-heading">Completeness Score by Groups</h3>
      <div id="bar-chart"></div>
    </div>
  </div>
  <div class="row">
    <div class="dashboard col-md-12">
      <h3 class="statistic-heading">Commpleted Fields Raw</h3>
      <ol>
      <% @analysis[:treemap_raw].each do |key, value| %>
        <li><%= key %> -------- <%= value %></li>
      <% end %>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="dashboard col-md-12">
      <h3 class="statistic-heading">Completed Fields</h3>
      <div class="row">
        <div class="col-md-6"><div class="pull-right"><input class="treemap-switch" type="radio" name="mode" value="count"> Structure</input></div></div>
        <div class="col-md-6"><input class="treemap-switch" type="radio" name="mode" value="size" checked> Completed</input></div>
      </div>
      <div id="treemap"></div>
    </div>
  </div>
</div>
