<div id="analysis" class="pill-pane active">
  <%= render partial: 'shared/record_selector' %>
  <div class="dashboard row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-eye-open"></span> Record Comparison</h3>
      <table class="repositories metric completeness table table-bordered completeness-table">
        <thead>
          <tr>
            <th>Field</th>
            <th>Subfield</th>
            <% 2.times do |i| %>
              <th><%= @documents[i].record[:name] %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @analysis[:properties].each do |field| %>
            <% if field.is_a?(Array) %>
              <% subfields = field[1..-1] %>
              <% field = field.first %>
              <% maximum = @documents.map { |d| d.record[field].length }.max %>
              <% maximum.times do |i| %>
                <% subfields.each_with_index do |subfield, j| %>
                  <% values = (0..1).to_a.map { |j| @documents[j].record[field].maybe[i].maybe[subfield] } %>
                  <tr>
                    <%= content_tag(:th, titleize(field), rowspan: subfields.length) if j == 0 %>
                    <th><%= titleize(subfield) %></th>
                    <% 2.times do |j| %>
                      <%= value(values[j]) %>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
              <tr>
                <th><%= titleize(field) %></th>
                <td></td>
                <% 2.times do |i| %>
                  <%= value(@documents[i].record[field]) %>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="statistics" class="pill-pane">
  w00t
</div>
