<div id="analysis" class="pill-pane active">
  <div class="row">
    <% 2.times do |i| %>
      <div class="dashboard-6 <%= i == 0 ? "dashboard-left" : "dashboard-right" %> col-md-6 without-heading">
        <div class="row">
          <div class="col-md-12">
            <h3>Record Selection</h3>
            <h4>Select a metadata record to compare with</h4>
            <%= render partial: 'shared/metadata_record_selector', locals: { i: i } %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Analysis</h3>
            <h4>Inspect the differences</h4>
            <table class="analysis-table table table-bordered table-striped">
              <tbody>
                <% analysis = @documents[i].send(@metric.id)['analysis'] %>
                <% analysis.each do |item| %>
                  <% item = item.with_indifferent_access %>
                  <tr>
                    <th>Field: <%= display_field(item['field']) %></th>
                    <th>Misspellings: <%= item['misspelled'].length %></th>
                  </tr>
                  <tr>
                    <%= content_tag(:td, highlight_misspellings(item, i), colspan: '2')%>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="statistics" class="pill-pane fade">
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3><span class="fa fa-ban"></span> Misspellings</h3>
      <h4>The number of different misspellings</h4>
      <table class="table statistic-table">
        <thead>
          <tr>
            <th>Word</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <% @analysis['misspellings'].each do |misspelling, count| %>
            <tr>
              <td><%= misspelling %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
