<div id="analysis" class="pill-pane active">
  <div class="row">
    <% 2.times do |i| %>
      <% side = ["dashboard-left", "dashboard-right"][i] %>
      <%= content_tag(:div, class: "dashboard-6 #{side} col-md-6 without-heading") do %>
        <%= render partial: 'shared/metadata_record_selector', locals: { i: i } %>
        <%= render partial: 'shared/metadata_record_content', locals: { i: i } %>
      <% end %>
    <% end %>
  </div>
</div>
<div id="statistics" class="pill-pane">
  <div class="row">
    <div class="col-md-12 dashboard">
      <h3 class="heading-only">Number of Documents: <%= @analysis['document_numbers'] %></h3>
    </div>
  </div>
  <div class="row">
    <div class="dashboard-6 dashboard-left">
      <table class="table">
        <thead>
          <tr>
            <th>Categorical Word</th>
            <th>Number of Occurences</th>
          </tr>
        </thead>
        <tbody>
          <% @analysis['categorical_frequency'].values.first.each do |word, count| %>
            <tr>
              <td><%= word %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="dashboard-6 dashboard-right">
      <table class="table">
        <thead>
          <tr>
            <th>Word from Continous Text</th>
            <th>Number of Occurences</th>
          </tr>
        </thead>
        <tbody>
          <% @analysis['document_frequency'].each do |word, count| %>
            <tr>
              <td><%= word %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 dashboard">
      <div id="bar-chart"></div>
    </div>
  </div>
</div>
