<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @metadatum.name %>
</p>

<p>
  <b>Title:</b>
  <%= @metadatum.title %>
</p>

<p>
  <b>Author:</b>
  <%= @metadatum.author %>
</p>


<%= link_to 'Edit', edit_metadatum_path(@metadatum) %> |
<%= link_to 'Back', metadata_path %>
