<% provide(:metric, "Richness of Information") %>
<% metric = :richness_of_information %>
<% content_for :content do %>
  <table class="table">
    <thead>
      <th>Field</th>
      <th><%= record_selector(metric, :best) %></th>
      <th><%= record_selector(metric, :worst) %></th>
    </thead>
    <tbody>
        <tr>
          <td><strong>Notes</strong></td>
          <td><%= field_value(@best_record, :notes) %>
          <%= intermediate_score(@best_record, :richness_of_information, [:notes]) %></td>
          <td><%= field_value(@worst_record, :notes) %>
          <%= intermediate_score(@worst_record, :richness_of_information, [:notes]) %></td>
        </tr>
        <tr>
          <td><strong>Tags</strong></td>
          <td><%= print_tags(@best_record, :richness_of_information, :tags) %></td>
          <td><%= print_tags(@worst_record, :richness_of_information, :tags) %></td>
        </tr>
      <% @max_resources.times do |i| %>
        <tr>
          <td><strong>Resource Description <%= i + 1 %></strong></td>
          <td><%= resource_field_value(@best_record, :description, i) %>
          <%= intermediate_score(@best_record, :richness_of_information, [:resources, :description, i]) %></td>
          </td>
          <td><%= resource_field_value(@worst_record, :description, i) %>
          <%= intermediate_score(@worst_record, :richness_of_information, [:resources, :description, i]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render 'layouts/metric_details' %>
