<% provide(:metric, "Richness of Information") %>
<% content_for :content do %>
  <table class="table">
    <thead>
      <th>Field</th>
      <th>
        <div class="dropdown">
          <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">Best Record<strong class="caret"></strong></a> (<%= "%.3f" % (@best_record[:richness_of_information]) %>)
          <ul class="dropdown-menu" role="menu" aria-labelledyby="dLabel">
            <% for record in @repository.best_records(:richness_of_information) %>
              <li role="presentation">
              <a role="menuitem"><a href=<%= link_for_record(record) %>><%= "%.4f" % record[:richness_of_information] %></a>
              </li>
            <% end %>
          </ul>
          </div>
        </div>
      </th>
      <th>Worst Record (<%= "%.3f" % (@worst_record[:richness_of_information]) %>)</th>
    </thead>
    <tbody>
        <tr>
          <td><strong>Notes</strong></td>
          <td><%= field_value(@best_record, :notes) %>
          <%= intermediate_score(@best_record, :richness_of_information, [:notes]) %></td>
          <td><%= field_value(@worst_record, :notes) %>
          <%= intermediate_score(@worst_record, :richness_of_information, [:notes]) %></td>
        </tr>
        <tr>
          <td><strong>Tags</strong></td>
          <td><%= print_tags(@best_record, :richness_of_information, :tags) %></td>
          <td><%= print_tags(@worst_record, :richness_of_information, :tags) %></td>
        </tr>
      <% @max_resources.times do |i| %>
        <tr>
          <td><strong>Resource Description <%= i + 1 %></strong></td>
          <td><%= resource_field_value(@best_record, :description, i) %>
          <%= intermediate_score(@best_record, :richness_of_information, [:resources, :description, i]) %></td>
          </td>
          <td><%= resource_field_value(@worst_record, :description, i) %>
          <%= intermediate_score(@worst_record, :richness_of_information, [:resources, :description, i]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= render 'layouts/metric_details' %>
