<%= yield :heading %>
<ol class="report repository breadcrumb">
    <%= report_repository_selector %>
    <%= report_metric_selector unless @metrics.nil? %>
    <li class="active">Report</li>
  </li>
</ol>
<%= yield :content_top %>
<div class="dashboard">
  <%= yield :content %>
</div>
