<h1><%= yield :heading %></h1>
<ul class="repository-navigation breadcrumb">
  <li class="active"><a href="#">lol</a></li>
  <li style="position:relative">
    <a data-toggle="dropdown" href="#">
      <%= @repository.name == '*' ? 'All' : @repository.name %>
    <ul class="dropdown-menu" role="menu">
      <li><a href="?<%= yield :parameter %>=*">All</a></li>
      <li class="divider"></li>
      <% @repositories.each do |repository| %>
        <li><%= create_repository_link(repository) %></li>
      <% end %>
    </ul>
    </a>
  </li>
  <li><a href="#"></a></li>
</ul>
<div class="repository-menu">
</div>
<%= yield :content_top %>
<div class="dashboard">
<ul class="breadcrumb">
  <li><a href="#">X</a></li>
  <li class="active">lol</li>
</ul>

  <%= yield :content %>
</div>
