<%= yield :heading %>
<ol class="dashboard report repository breadcrumb">
    <%= repository_selector %>
    <%= analysis_metric_selector %>
    <li class="active">Report</li>
</ol>
<%= yield :content_top %>
<div class="dashboard">
  <%= yield :content %>
</div>
